tutorials/cda/building-a-sentiment-analysis-application/application/development/nifi-template/AcquireTweetsStreamTweets.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description>Two Process Groups:

One that acquires tweet data and sends it to Kafka HDP and the other consumes kafka HDF messages to stream to solr</description>
    <groupId>030c3f5d-0166-1000-4e7e-c2fca5ca95d2</groupId>
    <name>AcquireTweetsStreamTweets</name>
    <snippet>
        <processGroups>
            <id>998b7ac3-8410-3a29-0000-000000000000</id>
            <parentGroupId>f1a841a7-4659-3d12-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>1.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>e39b04da-3973-3f0d-0000-000000000000</id>
                    <parentGroupId>998b7ac3-8410-3a29-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>998b7ac3-8410-3a29-0000-000000000000</groupId>
                        <id>3e1d9a2e-f993-31e6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>998b7ac3-8410-3a29-0000-000000000000</groupId>
                        <id>ede70cd3-e0b1-3cf2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>3e1d9a2e-f993-31e6-0000-000000000000</id>
                    <parentGroupId>998b7ac3-8410-3a29-0000-000000000000</parentGroupId>
                    <position>
                        <x>598.0</x>
                        <y>354.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-solr-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Solr Type</key>
<value>
    <name>Solr Type</name>
</value>
                            </entry>
                            <entry>
<key>Solr Location</key>
<value>
    <name>Solr Location</name>
</value>
                            </entry>
                            <entry>
<key>Collection</key>
<value>
    <name>Collection</name>
</value>
                            </entry>
                            <entry>
<key>Content Stream Path</key>
<value>
    <name>Content Stream Path</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>Commit Within</key>
<value>
    <name>Commit Within</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Solr Socket Timeout</key>
<value>
    <name>Solr Socket Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Solr Connection Timeout</key>
<value>
    <name>Solr Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Solr Maximum Connections</key>
<value>
    <name>Solr Maximum Connections</name>
</value>
                            </entry>
                            <entry>
<key>Solr Maximum Connections Per Host</key>
<value>
    <name>Solr Maximum Connections Per Host</name>
</value>
                            </entry>
                            <entry>
<key>ZooKeeper Client Timeout</key>
<value>
    <name>ZooKeeper Client Timeout</name>
</value>
                            </entry>
                            <entry>
<key>ZooKeeper Connection Timeout</key>
<value>
    <name>ZooKeeper Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>f.1</key>
<value>
    <name>f.1</name>
</value>
                            </entry>
                            <entry>
<key>f.10</key>
<value>
    <name>f.10</name>
</value>
                            </entry>
                            <entry>
<key>f.11</key>
<value>
    <name>f.11</name>
</value>
                            </entry>
                            <entry>
<key>f.2</key>
<value>
    <name>f.2</name>
</value>
                            </entry>
                            <entry>
<key>f.3</key>
<value>
    <name>f.3</name>
</value>
                            </entry>
                            <entry>
<key>f.4</key>
<value>
    <name>f.4</name>
</value>
                            </entry>
                            <entry>
<key>f.5</key>
<value>
    <name>f.5</name>
</value>
                            </entry>
                            <entry>
<key>f.6</key>
<value>
    <name>f.6</name>
</value>
                            </entry>
                            <entry>
<key>f.7</key>
<value>
    <name>f.7</name>
</value>
                            </entry>
                            <entry>
<key>f.8</key>
<value>
    <name>f.8</name>
</value>
                            </entry>
                            <entry>
<key>f.9</key>
<value>
    <name>f.9</name>
</value>
                            </entry>
                            <entry>
<key>split</key>
<value>
    <name>split</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Solr Type</key>
<value>Cloud</value>
                            </entry>
                            <entry>
<key>Solr Location</key>
<value>sandbox-hdp.hortonworks.com:2181/solr</value>
                            </entry>
                            <entry>
<key>Collection</key>
<value>tweets</value>
                            </entry>
                            <entry>
<key>Content Stream Path</key>
<value>/update/json/docs</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>application/json</value>
                            </entry>
                            <entry>
<key>Commit Within</key>
<value>1000</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>Username</key>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Solr Socket Timeout</key>
<value>10 seconds</value>
                            </entry>
                            <entry>
<key>Solr Connection Timeout</key>
<value>10 seconds</value>
                            </entry>
                            <entry>
<key>Solr Maximum Connections</key>
<value>10</value>
                            </entry>
                            <entry>
<key>Solr Maximum Connections Per Host</key>
<value>5</value>
                            </entry>
                            <entry>
<key>ZooKeeper Client Timeout</key>
<value>10 seconds</value>
                            </entry>
                            <entry>
<key>ZooKeeper Connection Timeout</key>
<value>10 seconds</value>
                            </entry>
                            <entry>
<key>f.1</key>
<value>id:/id</value>
                            </entry>
                            <entry>
<key>f.10</key>
<value>coordinates_s:/coordinates</value>
                            </entry>
                            <entry>
<key>f.11</key>
<value>place_s:/place</value>
                            </entry>
                            <entry>
<key>f.2</key>
<value>text_t:/text</value>
                            </entry>
                            <entry>
<key>f.3</key>
<value>screenName_s:/user/screen_name</value>
                            </entry>
                            <entry>
<key>f.4</key>
<value>language_s:/lang</value>
                            </entry>
                            <entry>
<key>f.5</key>
<value>twitter_created_at_dt:/created_at</value>
                            </entry>
                            <entry>
<key>f.6</key>
<value>tag_ss:/entities/hashtags</value>
                            </entry>
                            <entry>
<key>f.7</key>
<value>originalposter_s:/retweeted_status/user/screen_name</value>
                            </entry>
                            <entry>
<key>f.8</key>
<value>source_s:/source</value>
                            </entry>
                            <entry>
<key>f.9</key>
<value>geo_s:/geo</value>
                            </entry>
                            <entry>
<key>split</key>
<value>/</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutSolrContentStream</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>connection_failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.solr.PutSolrContentStream</type>
                </processors>
                <processors>
                    <id>ede70cd3-e0b1-3cf2-0000-000000000000</id>
                    <parentGroupId>998b7ac3-8410-3a29-0000-000000000000</parentGroupId>
                    <position>
                        <x>600.0</x>
                        <y>551.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-kafka-0-10-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>topic_type</key>
<value>
    <name>topic_type</name>
</value>
                            </entry>
                            <entry>
<key>group.id</key>
<value>
    <name>group.id</name>
</value>
                            </entry>
                            <entry>
<key>auto.offset.reset</key>
<value>
    <name>auto.offset.reset</name>
</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>
    <name>key-attribute-encoding</name>
</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
<value>
    <name>message-demarcator</name>
</value>
                            </entry>
                            <entry>
<key>max.poll.records</key>
<value>
    <name>max.poll.records</name>
</value>
                            </entry>
                            <entry>
<key>max-uncommit-offset-wait</key>
<value>
    <name>max-uncommit-offset-wait</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>sandbox-hdf.hortonworks.com:6667</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>PLAINTEXT</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
                            </entry>
                            <entry>
<key>topic</key>
<value>tweetsSentiment</value>
                            </entry>
                            <entry>
<key>topic_type</key>
<value>names</value>
                            </entry>
                            <entry>
<key>group.id</key>
<value>1</value>
                            </entry>
                            <entry>
<key>auto.offset.reset</key>
<value>latest</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>utf-8</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
                            </entry>
                            <entry>
<key>max.poll.records</key>
<value>10000</value>
                            </entry>
                            <entry>
<key>max-uncommit-offset-wait</key>
<value>1 secs</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConsumeKafka_0_10</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_0_10</type>
                </processors>
            </contents>
            <name>StreamTweetsToSolr</name>
            <variables/>
        </processGroups>
        <processGroups>
            <id>cfceb4f5-9104-3cdd-0000-000000000000</id>
            <parentGroupId>f1a841a7-4659-3d12-0000-000000000000</parentGroupId>
            <position>
                <x>430.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>1838b10d-e895-3d5b-0000-000000000000</id>
                    <parentGroupId>cfceb4f5-9104-3cdd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cfceb4f5-9104-3cdd-0000-000000000000</groupId>
                        <id>c5693e63-34a7-3f51-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>cfceb4f5-9104-3cdd-0000-000000000000</groupId>
                        <id>5fa5fa37-9469-3c27-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>8cd66483-869a-3e19-0000-000000000000</id>
                    <parentGroupId>cfceb4f5-9104-3cdd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cfceb4f5-9104-3cdd-0000-000000000000</groupId>
                        <id>5b718959-2290-3505-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>tweet</selectedRelationships>
                    <source>
                        <groupId>cfceb4f5-9104-3cdd-0000-000000000000</groupId>
                        <id>9cf8dfa4-7ec0-3e34-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>fccd1609-262f-3f38-0000-000000000000</id>
                    <parentGroupId>cfceb4f5-9104-3cdd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cfceb4f5-9104-3cdd-0000-000000000000</groupId>
                        <id>9cf8dfa4-7ec0-3e34-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>cfceb4f5-9104-3cdd-0000-000000000000</groupId>
                        <id>c5693e63-34a7-3f51-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>5b718959-2290-3505-0000-000000000000</id>
                    <parentGroupId>cfceb4f5-9104-3cdd-0000-000000000000</parentGroupId>
                    <position>
                        <x>160.79632913384148</x>
                        <y>2003.2465468228183</y>
                    </position>
                    <bundle>
                        <artifact>nifi-kafka-0-10-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>
    <name>acks</name>
</value>
                            </entry>
                            <entry>
<key>kafka-key</key>
<value>
    <name>kafka-key</name>
</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>
    <name>key-attribute-encoding</name>
</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
<value>
    <name>message-demarcator</name>
</value>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>
    <name>max.request.size</name>
</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>
    <name>ack.wait.time</name>
</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>
    <name>max.block.ms</name>
</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>
    <name>partitioner.class</name>
</value>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>
    <name>compression.type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>sandbox-hdp.hortonworks.com:6667</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>PLAINTEXT</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
                            </entry>
                            <entry>
<key>topic</key>
<value>tweets</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>0</value>
                            </entry>
                            <entry>
<key>kafka-key</key>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>utf-8</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>5 sec</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>none</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PublishKafka_0_10</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_0_10</type>
                </processors>
                <processors>
                    <id>5fa5fa37-9469-3c27-0000-000000000000</id>
                    <parentGroupId>cfceb4f5-9104-3cdd-0000-000000000000</parentGroupId>
                    <position>
                        <x>165.35131952883216</x>
                        <y>1325.9092619740168</y>
                    </position>
                    <bundle>
                        <artifact>nifi-social-media-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Twitter Endpoint</key>
<value>
    <name>Twitter Endpoint</name>
</value>
                            </entry>
                            <entry>
<key>Consumer Key</key>
<value>
    <name>Consumer Key</name>
</value>
                            </entry>
                            <entry>
<key>Consumer Secret</key>
<value>
    <name>Consumer Secret</name>
</value>
                            </entry>
                            <entry>
<key>Access Token</key>
<value>
    <name>Access Token</name>
</value>
                            </entry>
                            <entry>
<key>Access Token Secret</key>
<value>
    <name>Access Token Secret</name>
</value>
                            </entry>
                            <entry>
<key>Languages</key>
<value>
    <name>Languages</name>
</value>
                            </entry>
                            <entry>
<key>Terms to Filter On</key>
<value>
    <name>Terms to Filter On</name>
</value>
                            </entry>
                            <entry>
<key>IDs to Follow</key>
<value>
    <name>IDs to Follow</name>
</value>
                            </entry>
                            <entry>
<key>Locations to Filter On</key>
<value>
    <name>Locations to Filter On</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Twitter Endpoint</key>
<value>Filter Endpoint</value>
                            </entry>
                            <entry>
<key>Consumer Key</key>
<value>3FVfGiseURSr9ZbnfnVh4GNuR</value>
                            </entry>
                            <entry>
<key>Consumer Secret</key>
                            </entry>
                            <entry>
<key>Access Token</key>
<value>3939922273-DCH7gWvvuU5fZ52LGWO3mFCAsKv7fdFiaMQ60lg</value>
                            </entry>
                            <entry>
<key>Access Token Secret</key>
                            </entry>
                            <entry>
<key>Languages</key>
                            </entry>
                            <entry>
<key>Terms to Filter On</key>
<value>AAPL,ORCL,GOOG,MSFT,DELL</value>
                            </entry>
                            <entry>
<key>IDs to Follow</key>
                            </entry>
                            <entry>
<key>Locations to Filter On</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GrabGardenHose</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.twitter.GetTwitter</type>
                </processors>
                <processors>
                    <id>9cf8dfa4-7ec0-3e34-0000-000000000000</id>
                    <parentGroupId>cfceb4f5-9104-3cdd-0000-000000000000</parentGroupId>
                    <position>
                        <x>162.01434377368832</x>
                        <y>1775.3263060320176</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>2</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>tweet</key>
<value>
    <name>tweet</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>tweet</key>
<value>${twitter.msg:isEmpty():not()}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>FindOnlyTweets</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>tweet</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>c5693e63-34a7-3f51-0000-000000000000</id>
                    <parentGroupId>cfceb4f5-9104-3cdd-0000-000000000000</parentGroupId>
                    <position>
                        <x>163.4883036759727</x>
                        <y>1542.9167547772731</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>ERROR</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>4</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>twitter.handle</key>
<value>
    <name>twitter.handle</name>
</value>
                            </entry>
                            <entry>
<key>twitter.hashtags</key>
<value>
    <name>twitter.hashtags</name>
</value>
                            </entry>
                            <entry>
<key>twitter.language</key>
<value>
    <name>twitter.language</name>
</value>
                            </entry>
                            <entry>
<key>twitter.location</key>
<value>
    <name>twitter.location</name>
</value>
                            </entry>
                            <entry>
<key>twitter.msg</key>
<value>
    <name>twitter.msg</name>
</value>
                            </entry>
                            <entry>
<key>twitter.time</key>
<value>
    <name>twitter.time</name>
</value>
                            </entry>
                            <entry>
<key>twitter.time_zone</key>
<value>
    <name>twitter.time_zone</name>
</value>
                            </entry>
                            <entry>
<key>twitter.tweet_id</key>
<value>
    <name>twitter.tweet_id</name>
</value>
                            </entry>
                            <entry>
<key>twitter.unixtime</key>
<value>
    <name>twitter.unixtime</name>
</value>
                            </entry>
                            <entry>
<key>twitter.user</key>
<value>
    <name>twitter.user</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>twitter.handle</key>
<value>$.user.screen_name</value>
                            </entry>
                            <entry>
<key>twitter.hashtags</key>
<value>$.entities.hashtags[0].text</value>
                            </entry>
                            <entry>
<key>twitter.language</key>
<value>$.lang</value>
                            </entry>
                            <entry>
<key>twitter.location</key>
<value>$.user.location</value>
                            </entry>
                            <entry>
<key>twitter.msg</key>
<value>$.text</value>
                            </entry>
                            <entry>
<key>twitter.time</key>
<value>$.created_at</value>
                            </entry>
                            <entry>
<key>twitter.time_zone</key>
<value>$.user.time_zone</value>
                            </entry>
                            <entry>
<key>twitter.tweet_id</key>
<value>$.id</value>
                            </entry>
                            <entry>
<key>twitter.unixtime</key>
<value>$.timestamp_ms</value>
                            </entry>
                            <entry>
<key>twitter.user</key>
<value>$.user.name</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PullKeyAttributes</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
            </contents>
            <name>AcquireTwitterData</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>09/22/2018 22:44:25 UTC</timestamp>
</template>
